body {
    font-size: 10px;
    font-family: monospace, monospace !important;
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/9b/df/45/9bdf45b38e8584ae39b706bba7fc37d0.jpg");
}

.main-grid {
    width: 90%;
    margin: auto;
    border-spacing: 0.8em;
}

#header-plate {
    height: 1px;
    padding: 1em 30px;
    font-size: 25px;
    color: #ffffff;
    background-color: #3c3c3c;
}

.content-plate {
    padding: 0 0 20px;
    vertical-align: top;
    background-color: #ffffff;
    text-align: center;
}

.plate-top {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    background-color: #3c3c3c;
}

.plate-top-title {
    font-size: 18px;
    font-weight: normal;
}

.image-container {
    text-align: center;
}

#input-grid {
    width: 95%;
    margin: auto;
    text-align: center;
}

.text-input {
    width: 75%;
    height: 25px;
    margin: 2% 0;
}
.buttons {
    margin-top: 1%;
}
.buttons-result{
    margin-top: 10px;
    position: relative;
    text-align: center;
}


#table-plate {
    position: relative;
}

#result-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table-row{
    height: 0;
    background-color: #605f5f;
    padding: 0 0;
}
.coords-col {
    width: 12%;
}

.time-col {
    width: 25%;
}

.left-aligned {
    float: left;
}

.right-aligned {
    float: right;
}

.false{
    color: rgb(196, 20, 20);
}
.true{
    color: rgb(11, 203, 15);
}

.centerTable { margin: 0 auto; }

#table-plate {
    width: 50%;
    position: relative;
    background-color: #605f5f;
}

.transparent {
    background-color: transparent;
}

.center-aligned {
    text-align: center;
}
.outer {
    margin: 0 auto;
}
.color{
    color:black;
}
td{
    padding: 100px;
}
.graph-form{
    margin: 0 auto;
    width: 95%;
}
.pagination__style{
    position: absolute;
    bottom: 0;
}
.wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
    "A A A A   C C C C"
    "B B B B   C C C C"
    "B B B B   D D D D";
    width: 95%;
    margin: auto;

}
.box-1 {
    grid-area: A;
    background-color: rgba(195, 195, 195, 0.95);
}
.box-2 {
    text-align: center;
    grid-area: B;
    background-color: rgba(195, 195, 195, 0.95);
}
.box-3 {
    height: 700px;
    text-align: center;
    grid-area: C;
    background-color: #2c3034;
}
.box-4 {
    justify-self: center;
    grid-area: D;
    background-color: rgba(195, 195, 195, 0);
}